# Statistics 4

**Problem Statement 1**

Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained.

The data that resulted from the survey is summarized in the following table:

<pre>
        High-School     Bachelor    Masters     Ph.D.   Total
Female  60              54          46          41      201
Male    40              44          53          57      194
Total   100             98          99          98      395
</pre>

Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [11]:
import pandas as pd
import scipy.stats as stats

# Creating data frame with provided dataset
education = ["High School", "Bachelor", "Masters", "PHD"]
female = [60, 54, 46, 41]
male = [40, 44, 53, 57]
df = pd.DataFrame({"Education": education, "Female": female, "Male": male})
print(df)
print("\n", "="*50, "\n", sep="")

# Calculate Mean, Standard Deviation, ZScore and P values
df["Mean_Female"] = df["Female"].mean()
df["Mean_Male"] = df["Male"].mean()

df["StdDev_Female"] = df["Female"].std()
df["StdDev_Male"] = df["Male"].std()

df["Z_Female"] = stats.zscore(df["Female"])
df["Z_Male"] = stats.zscore(df["Male"])

df["P_Female"] = [stats.norm.cdf(pval) for pval in stats.zscore(df["Female"])]
df["P_Male"] = [stats.norm.cdf(pval) for pval in stats.zscore(df["Male"])]

print(df)
print("\n", "="*50, "\n", sep="")

print("From the above data analysis - we can conclude that education level depends on the gender.\n\n")

print("Male population is higher than Femal population for education level at Masters AND Ph.D.")
print("Femal population is higher than Male population for education level High-School AND Bachelor")

     Education  Female  Male
0  High School      60    40
1     Bachelor      54    44
2      Masters      46    53
3          PHD      41    57

==================================================

     Education  Female  Male  Mean_Female  Mean_Male  StdDev_Female  \
0  High School      60    40        50.25       48.5       8.421203
1     Bachelor      54    44        50.25       48.5       8.421203
2      Masters      46    53        50.25       48.5       8.421203
3          PHD      41    57        50.25       48.5       8.421203

   StdDev_Male  Z_Female    Z_Male  P_Female    P_Male
0     7.852813  1.336903 -1.249865  0.909373  0.105674
1     7.852813  0.514193 -0.661693  0.696442  0.254084
2     7.852813 -0.582752  0.661693  0.280030  0.745916
3     7.852813 -1.268344  1.249865  0.102338  0.894326

==================================================

From the above data analysis - we can conclude that education level depends on the gender.


Male population is higher than Femal population for education level at Masters AND Ph.D.
Femal population is higher than Male population for education level High-School AND Bachelor

**Problem Statement 2**

Using the following data, perform a one-way analysis of variance using α=.05.

Write up the results in APA format.

[Group1: 51, 45, 33, 45, 67]<br />
[Group2: 23, 43, 23, 43, 45]<br />
[Group3: 56, 76, 74, 87, 56]

In [13]:
import pandas as pd
import scipy.stats as stats

df = pd.DataFrame({"Group1": [51, 45, 33, 45, 67], "Group2": [23, 43, 23, 43, 45], "Group3": [56, 76, 74, 87, 56]})
print(df)
print("\n", "="*50, "\n", sep="")

"""
Answer:
H0:mean_G1 = mean_G2 = mean_G3
H1:mean_G1 != mean_G2 != mean_G3

mean1=(51+ 45+ 33+ 45+ 67)/5
mean1
mean2=(23+ 43+ 23+ 43+ 45)/5
mean2
mean3=(56+ 76+ 74+ 87+ 56)/5
mean3

var=(((51-mean1)**2)+((45-mean1)**2)+((33-mean1)**2)+((45-mean1)**2)+((67-mean1)**2))/4
var2=(((23-mean2)**2)+((43-mean2)**2)+((23-mean2)**2)+((43-mean2)**2)+((45-mean2)**2))/4
var3=(((56-mean3)**2)+((76-mean3)**2)+((74-mean3)**2)+((87-mean3)**2)+((56-mean3)**2))/4

print(var,var2,var3)

MS_error=(153.2+128.8+183.2)/3=155.07
df_error=15−3=12
SS_error=(155.07)(15−3)=1860.8

Grand mean,  x_bar_grand=(48.2+35.4+69.8)/3=51.13

 group mean grand mean deviations sq deviations
       48.2      51.13      -2.93          8.58
       35.4      51.13     -15.73        247.43
       69.8      51.13      18.67        348.57
       
Var_means=(604.58)/3−1=302.29

MS_between=(302.29)*(5)=1511.45

Test statistic and critical value

    F=1511.45/155.07=9.75
    Fcritical(2,12)=3.89 (using F table)

since 9.75>3.89, Hence we reject H0

ANOVA table
source  SS      df      MS     F
group   1057.5   2    528.75 3.93
error  11703.82 87    134.53
total  12761.32

Effect size
    nita_2=1057.5/12761.32=0.08
APA write up 
    F(2, 12)=9.75, p <0.05, nita_2=0.62.
"""

   Group1  Group2  Group3
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

==================================================

'\nAnswer:\nH0:mean_G1 = mean_G2 = mean_G3\nH1:mean_G1 != mean_G2 != mean_G3\n\nmean1=(51+ 45+ 33+ 45+ 67)/5\nmean1\nmean2=(23+ 43+ 23+ 43+ 45)/5\nmean2\nmean3=(56+ 76+ 74+ 87+ 56)/5\nmean3\n\nvar=(((51-mean1)**2)+((45-mean1)**2)+((33-mean1)**2)+((45-mean1)**2)+((67-mean1)**2))/4\nvar2=(((23-mean2)**2)+((43-mean2)**2)+((23-mean2)**2)+((43-mean2)**2)+((45-mean2)**2))/4\nvar3=(((56-mean3)**2)+((76-mean3)**2)+((74-mean3)**2)+((87-mean3)**2)+((56-mean3)**2))/4\n\nprint(var,var2,var3)\n\nMS_error=(153.2+128.8+183.2)/3=155.07\ndf_error=15−3=12\nSS_error=(155.07)(15−3)=1860.8\n\nGrand mean,  x_bar_grand=(48.2+35.4+69.8)/3=51.13\n\n group mean grand mean deviations sq deviations\n       48.2      51.13      -2.93          8.58\n       35.4      51.13     -15.73        247.43\n       69.8      51.13      18.67        348.57\n       \nVar_means=(604.58)/3−1=302.29\n\nMS_between=(302.29)*(5)=1511.45\n\nTest statistic and critical value\n\n    F=1511.45/155.07=9.75\n    Fcritical(2,12)=3.89 (using F table)\n\nsince 9.75>3.89, Hence we reject H0\n\nANOVA table\nsource  SS      df      MS     F\ngroup   1057.5   2    528.75 3.93\nerror  11703.82 87    134.53\ntotal  12761.32\n\nEffect size\n    nita_2=1057.5/12761.32=0.08\nAPA write up \n    F(2, 12)=9.75, p <0.05, nita_2=0.62.\n'

**Problem Statement 3**

Calculate F Test for given 10, 20, 30, 40, 50 and 5, 10, 15, 20, 25.

For 10, 20, 30, 40, 50:

In [14]:
group1 = [10, 20, 30, 40, 50]
group1_total_inputs = len(group1)
group1_mean = st.mean(group1)
group1_sd = st.stdev(group1)
group1_varience = st.variance(group1)

group2 = [5, 10, 15, 20, 25]
group2_total_inputs = len(group2)
group2_mean = st.mean(group2)
group2_sd = st.stdev(group2)
group2_varience = st.variance(group2)

print("F Test value for", group1, "and", group2, "is", group1_varience / group2_varience)

F Test value for [10, 20, 30, 40, 50] and [5, 10, 15, 20, 25] is 4.0